// Что бы кнопка не выпирала за input
//.input-group-btn .btn {
//  font-size: 13px;
//  height: 32px;
//}

// можно делать несколько addon друг за другом
.input-group-addon {
  border-left-width: 0;
  border-right-width: 0;
}

.input-group-addon:first-child {
  border-left-width: 1px;
}

.input-group-addon:last-child {
  border-right-width: 1px;
}

// Текс для input-group
.input-group-text {
  padding: 6px 10px 6px 10px;
  border: none;
  background-color: inherit;
  display: table-cell;
  white-space: nowrap;
  vertical-align: middle;
}

// Разделить для input-group
//.input-group-delimiter {
//  padding: 6px 10px 6px 5px;
//  border: none;
//  background-color: inherit;
//  display: table-cell;
//  width: 1%;
//  white-space: nowrap;
//  vertical-align: middle;
//}
