// Nestable

.dd {
  max-width: none;
}

.dd3-content {
  padding-left: 57px;
}

.dd3-item > button {
  margin-right: 0px;
  margin-left: 33px;
}

.dd3-content.active {
  background-color: #d9edf7;
}

.dd3-content.system {
  background-color: #eee;
  cursor: not-allowed;
}

.dd-item > button:before {
  content: '\f0da';
  color: #808080;
  font-size: 16px;

}

.dd-item > button[data-action="collapse"]:before {
  content: '\f0d7';
  color: #808080;
  font-size: 16px;

}
