/* condenced table */
.table-condensed.table > tbody > tr > td,
.table-condensed.table > tbody > tr > th,
.table-condensed.table > tfoot > tr > td,
.table-condensed.table > tfoot > tr > th,
.table-condensed.table > thead > tr > td,
.table-condensed.table > thead > tr > th {
  padding: 5px !important;
}

// Для системных элементов в справочниках
table tr.system {
  background: #eee;
  //  cursor: not-allowed;
}

.table > tbody > tr > td.date {
  //  width: 90px;
  width: 1px;
  white-space: nowrap;
  cursor: default;
}

.table > tbody > tr > td.sum,
.table > tfoot > tr > td.sum {
  text-align: right;
  padding-right: 2px !important;
  width: 90px;
  white-space: nowrap;
}

.table > tbody > tr > td.symbol,
.table > tfoot > tr > td.symbol {
  padding-left: 2px !important;
  width: 40px;
  color: #808080;
}

//.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
//  border-top: 0px;
//  border-bottom: 1px solid #dddddd;
//}

.table > tfoot {
  font-weight: bolder;
}