th {
  font-weight: normal;
  background-color: #ffffff;
}

/* condenced table */
.table-condensed.table > tbody > tr > td,
.table-condensed.table > tbody > tr > th,
.table-condensed.table > tfoot > tr > td,
.table-condensed.table > tfoot > tr > th,
.table-condensed.table > thead > tr > td,
.table-condensed.table > thead > tr > th {
  padding: 5px !important;
  &.color-mark {
    padding: 5px 4px 5px 4px !important;
    width: 8px;
  }
}

// Для системных элементов в справочниках
table tr.system {
  background: #eee;
}

.table > tbody > tr > td.date {
  width: 1px;
  white-space: nowrap;
  cursor: default;
}

.table > tbody > tr > td.sum,
.table > tfoot > tr > td.sum {
  text-align: right;
  padding-right: 2px !important;
  //width: 90px;
  font-size: 15px;
  white-space: nowrap;
  div.col-xs-12 {
    height: 21px;
  }
}

.table > tbody > tr > td.symbol,
.table > tfoot > tr > td.symbol {
  padding-left: 2px !important;
  padding-top: 6px !important;
  color: #808080;
  div.col-xs-12 {
    height: 21px;
  }
}

.table > tfoot {
  font-weight: bolder;
}

thead tr th.tickbox {
  width: 18px;
  font-size: 14px;
}

// Planned operation
tr[role=planned] {
  background-color: #fff6f6;
}
