.tag {
  padding: 0px 6px 0px 6px;
  margin: 0px 0 2px 2px;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  cursor: default;
  line-height: 18px;
  border: 1px solid #2a6395;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #3276b1;
}